{% load i18n umessages_tags %}
{% load url from future %}

{% get_unread_message_count_between user and contact as unread_between_count %}

<a href="{% url 'umessages-detail' contact %}">
<li {% if unread_between_count %}class="unread-message"{% endif %}>
<span class="from">
{{ contact }}
</span>
<span class="title">
{% blocktrans with message.latest_message as latest_message %}{{ latest_message }} ({{ unread_between_count }} new){% endblocktrans %}
</span>
<span class="date">
{{ message.latest_message.sent_at|date:"SHORT_DATETIME_FORMAT"}}
</span>
</li>
</a>
