{% extends 'umessages/base_message.html' %}
{% load i18n umessages_tags %}
{% load url from future %}

{% block title %}{% trans "Messages" %}{% endblock %}

{% block yield %}
<div class="container">
{% get_unread_message_count_for user as unread_message_count %}
{% blocktrans %}{{ unread_message_count }} new messages.{% endblocktrans %}
<a href="{% url 'umessages_compose' %}">{% trans "Compose" %}</a>
<ul class="message-thread-list">
  {% for message in message_list %}

  {% if message.from_user == user %}

  {% with message.to_user as partner %}
  {% include 'umessages/thread_list_item.html' %}
  {% endwith %}

  {% else %}

  {% with message.from_user as partner %}
  {% include 'umessages/thread_list_item.html' %}
  {% endwith %}

  {% endif %}

  {% endfor %}
</ul>
</div>
{% endblock %}
