{% extends 'umessages/base_message.html' %}
{% load i18n umessages_tags %}
{% load crispy_forms_tags %}

{% block title %}{% blocktrans %}Conversation with {{ recipient }}{% endblocktrans %}{% endblock %}

{% block content %}

<div class="container">
<div id="conversation-container">
<h1> {% blocktrans %}Conversation with {{ recipient }}{% endblocktrans %} </h1>
<ul class="media-list message-list">
{% for message in message_list reversed %}
{% include 'umessages/_message.html' %}
{% endfor %}
</ul>
{% render_message_form to recipient.username %}
</div>
</div>



{% endblock %}
